@import '~bootstrap/scss/bootstrap';

body {
    font-family: TajawalRegular !important;
}
@font-face {
    src: url(../assets/fonts/Tajawal/Tajawal-Medium.ttf);
    font-family: TajawalRegular;
}


// @font-face {
//     src: url(../assets/FilsonProLight.otf);
//     font-family:dubailigth;
// }